body {
  margin: 0;
}
/* Main Containers */
.outer-container {
  height: 600px;
  width: 900px;
  background: #eee;
  border: 5px solid #ccc;
}
.game-window {
  height: 550px;
  width: 100%;
  background-color: #222;
  border-right: 3px solid #53f;
  float: left;
}
.status-window {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 550px;
  display: none;
}
.objectives {
	display: none;
}
.controls {
	display: none;
}
.store {
	display: none;
	position: absolute;
	top: 0;
	width: 900px;
	z-index: 5;
	opacity: 50%;
}
#levelScreen {
	display: none;
}

#store {
	display: none;
}

#winner {
	text-align: center;
	display: none;
}

/* Game Objects */
#enterprise {
  position: absolute;
  display: inline-block;
}
.snowman {
  height: 75px;
  color: #fff;
}
.snowball{
  position: absolute;
}
.snowball img {
  height: 40px;
}
.projectile {
  position: absolute;
}

/* Score Objects */
.score-box {
  text-align: left;
  font-size: 42px;
  font-weight: bold;
}
